Requirements
pip or conda
jupyter notebook
openpyxl
pandas
matplotlib
seaborn
gspread
oauth2client
df2gspread

To set up jupyter notebook:
$ python3 -m pip install --upgrade pip
$ python3 -m pip install jupyter
$ jupyter notebook
